<html>
      <head>
        <title>About Me</title>
      </head>
      <body>
        <h1>Swanson, Ryan</h1>
          <p>I am an Electrical Engineering student at the University of Colorado,
            Boulder with an emphsis in RF and Microwave engineering. I hope to get
            a job working at a national laboratory and I hope to stay in Colorado after
            graduation. I am studying computer science because it is a necessary skill
            that any and every engineer should know!</p>

        <h2>My Professional Profile</h2>
          <a href=https://github.com/RyanSwanson141441>Ryan's Github Page</a>
          <br>
          <img src="../resources/images/Ryan.jpg" alt="A picture of Ryan Swanson" height="600px" width="500px">
        <h3>My Favorite Projects</h3>
          <table border="2px solid black">
            <tr>
              <th>Name of Project</th>
              <th>Technologies Used</th>
            </tr>
            <tr>
              <td>Reactive Harmonically Tuned Power Amplifier</td>
              <td>MATLAB, Advanced Design Systems</td>
            </tr>
            <tr>
              <td>MAXWELL CubeSatellite</td>
              <td>MATLab</td>
            </tr>
            <tr>
              <td>OT Text Analysis</td>
              <td>Python, Keras, Word2Vec</td>
            </tr>
          </table>
        <h3>Countries Travelled</h3>
        <ul>
          <li>Canada</li>
          <li>Bahamas</li>
          <li>United States</li>
        </ul>
        <h3>My Interests</h3>
        <ol>
          <li>Piano</li>
          <li>Gaming</li>
          <li>Mathematics</li>
        </ol>
        </body>
</html>
